* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2a2a;
}

.all {
  display: flex;
}

.container {
  background-color: #2b2a2a;
  display: flex;
  justify-content: space-between;
}

.left-top {
  width: 70%;
  height: 100vh;
  background-color: white;
}

.in-left {
  background-color: #fcebeb;
  width: 280px;
  height: 500px;
  margin: 0 30px;
}

.bot {
  border-radius: 100%;
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8d9db;
  margin-top: -120px;
  margin-left: 30px;
}

.bot > img {
  width: 200px;
  height: 200px;
}

.zi {
  z-index: -30;
}

.cont {
  z-index: 50px;
  position: absolute;
  top: 170px;
  left: 90px;
  width: 570px;
}

.cont > h1 {
  font-size: 39px;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.cont > h4 {
  font-size: 19px;
  letter-spacing: 1px;
  color: #2b2a2a;
}

.gif-cont {
  z-index: 50px;
  position: absolute;
  top: 420px;
  left: 310px;
  width: 300px;
  display: flex;
}

.gif-cont > img {
  width: 100px;
  transform: rotate(180deg);
}

.in-right {
  height: 97vh;
  width: 80px;
  position: sticky;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #2b2a2a;
}

.btn {
  background-color: rgba(255, 0, 0, 0.688);
  position: absolute;
  top: 530px;
  left: 380px;
  font-size: 15px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 5px 12px -1px gray;
}

.r-bot {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top-image {
  width: 550px;
  height: 500px;
  position: absolute;
  top: 150px;
  left: 790px;
}

.top-image > img {
  width: 100%;
  height: 100%;
}

.mid-img {
  width: 98%;
}

.mid-img > img {
  width: 100%;
  height: 100%;
}

.mid-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mid-left {
  color: white;
}

.mid-up > h1 {
  font-size: 35px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-family: cursive;
}

.mid-up > h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: cursive;
  font-weight: 100;
}

.mid-down {
  display: flex;
  justify-content: space-between;
}

.mi-left > ul > li {
  font-size: 20px;
  margin-bottom: 15px;
}

.mi-right > .btn1 {
  background-color: rgba(255, 0, 0, 0.688);
  font-size: 15px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 5px 12px -1px gray;
  position: relative;
  top: 60px;
}

.blank {
  height: 200px;
}

.bot-img {
  margin: 0 auto;
  width: 85%;
  z-index: 10;
  position: relative;
  top: 90px;
}

.bot-img > img {
  width: 100%;
}

.down-white {
  background-color: #f5f5f5;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inn {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inn > h3 {
  width: 40%;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.inn > p {
  font-size: 35px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column !important;
  width: 50%;
}

.icon-cot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.icon-cont {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3e0e2;
  border-radius: 100%;
}

.icon-cont:hover {
  background-color: red;
}

.icon-cont > i {
  font-size: 28px;
}

.icon-name {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.icon-name > h1 {
  font-size: 24px;
  font-weight: 100;
}

.bottom-content {
  background-color: white;
  padding-bottom: 50px;
}

.bottom-content > h1 {
  padding: 50px 100px;
}

.content-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.rightc {
  width: 20%;
  height: 100%;
}

.rightc > img {
  width: 100%;
  z-index: -30;
}

.btn2 {
  position: relative;
  top: -150px;
  left: -19px;
  background-color: rgba(255, 0, 0, 0.688);
  font-size: 15px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  width: 300px;
}

.left-c {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.upcont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.up-im > img {
  width: 100%;
}

.downcont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  gap: 70px;
}

.downcont > img {
  width: 80px;
  transform: rotate(-130deg);
}

.scroll-outer {
  width: 1442px;
  background-color: #f5f5f5;
  padding-bottom: 50px;
  overflow: hidden;
}

.scroll-up,
.scroll-down {
  width: 1400px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.scroll-up::-webkit-scrollbar {
  display: none;
}

.scroll-down::-webkit-scrollbar {
  display: none;
}

.scrollcont {
  width: 500px;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  margin-top: 50px;
  border-radius: 50px;
  padding: 10px 0px;
  margin-right: 20px;
}

.scroll-down:hover {
  animation: scrollLeftRight 20s ease-in-out alternate;
}

.scroll-up:hover {
  animation: scrollLeftRight 20s ease-in-out forwards;
}

@keyframes scrollLeftRight {
  0% {
    transform: translateX(0);
    overflow: visible;
  }
  50% {
    transform: translateX(-500px);
    overflow: visible;
  }
  100% {
    transform: translateX(0);
    overflow: visible;
  }
}

.innerbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imgg {
  width: 90px;
}

.imgg > img {
  width: 100%;
}

.conte {
  width: 68%;
  letter-spacing: 0.4px;
  font-size: 15px;
  font-weight: 100;
  white-space: wrap;
}

.black-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 40px 10px;
  color: white;
}

.leftb > h1 {
  margin-bottom: 25px;
  font-size: 40px;
}

.rightb > .btn3 {
  background-color: rgba(255, 0, 0, 0.688);
  font-size: 15px;
  padding: 10px 80px;
  border-radius: 10px;
  border: none;
  color: white;
}

.lastcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  padding: 80px 30px;
}

.lastleft {
  width: 30%;
  border-right: 2px dotted gray;
  padding: 0px 20px;
}

.lastleft > h1 {
  margin-bottom: 40px;
}

.link {
  width: 70%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.link > aside > h4 {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 15px;
  color: #2b2a2a;
}

.lastmid {
  width: 25%;
  border-right: 2px dotted gray;
  padding: 0px 20px;
  text-align: center;
}

.lastmid > article {
  margin-bottom: 27px;
}

.lastright {
  width: 30%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column !important;
}

.lastright > article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lastright > article > aside {
  text-align: start;
}

.lastright > article > aside > h1 {
  font-size: 30px;
  color: #2b2a2a;
  margin-bottom: 20px;
}

.lastright > article > aside > p {
  font-size: 15px;
  margin-bottom: 10px;
  color: #2b2a2a;
}

.lastleft,
.lastmid,
.lastright {
  height: 250px;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 15px;
}

footer > h4 > span {
  color: red;
  font-size: 22px;
}

@media (min-width: 1160px) and (max-width: 1400px) {
  .all {
    width: 98vw;
  }

  .left {
    width: 93%;
  }

  .in-right {
    width: 10%;
  }
  .top-image {
    width: 430px;
    height: auto;
    left: 700px;
  }

  .mid-img > img {
    width: 100%;
  }

  .scroll-outer {
    width: 100%;
  }
}

@media (min-width: 1070px) and (max-width: 1159px) {
  .all {
    width: 98vw;
  }

  .left {
    width: 93%;
  }

  .mid-up > h1 {
    font-size: 25px;
  }

  .mid-up > h1 {
    font-size: 29px;
  }

  .mid-up > h3 {
    font-size: 17px;
  }

  .mi-left > ul > li {
    font-size: 15px;
  }

  .btn1 {
    padding: 0px 10px;
  }

  footer {
    height: 70px;
  }

  .lastmid > article {
    font-size: 16px;
  }

  .lastmid > article > img {
    width: 150px;
  }

  .cont > h4 {
    font-size: 17px;
  }

  .inn > h3 {
    font-size: 18px;
  }

  .icon-cont {
    width: 70px;
    height: 70px;
  }

  .bottom-content > h1 {
    font-size: 25px;
    margin-left: -35px;
  }

  .btn2 {
    width: 230px;
    font-size: 15px;
    padding: 5px 10px;
    top: -100px;
  }

  .scrollcont {
    width: 400px;
  }

  .imgg {
    width: 70px;
  }

  .conte > p {
    font-size: 13px;
  }

  .link > aside > h4 {
    font-size: 14px;
  }

  .in-right {
    width: 10%;
  }
  .top-image {
    width: 400px;
    height: auto;
    left: 650px;
  }

  .mid-img > img {
    width: 100%;
  }

  .scroll-outer {
    width: 100%;
  }
}

@media (min-width: 800px) and (max-width: 1159px) {
  .all {
    width: 94vw;
  }

  .left {
    width: 93%;
  }

  .mid-up > h1 {
    font-size: 25px;
  }

  .mid-up > h1 {
    font-size: 20px;
    margin-top: 20px;
  }

  .mid-up > h3 {
    font-size: 13px;
  }

  .mi-left > ul > li {
    font-size: 12px;
  }

  .btn1 {
    padding: 0px 10px;
  }

  footer {
    height: 70px;
  }

  .bot-img {
    top: 50px;
  }

  .lastmid > article {
    font-size: 16px;
  }

  .lastmid > article > img {
    width: 150px;
  }

  .cont > h4 {
    font-size: 17px;
  }

  .inn > h3 {
    font-size: 18px;
  }

  .icon-cont {
    width: 50px;
    height: 50px;
  }

  .icon-name > h1 {
    font-size: 15px;
  }

  .icon-cont > i {
    font-size: 20px;
  }

  .bottom-content > h1 {
    font-size: 25px;
    margin-left: -35px;
  }

  .mid-right > img {
    width: 150px;
  }

  .btn2 {
    width: 230px;
    font-size: 15px;
    padding: 5px 10px;
    top: -100px;
  }

  .scrollcont {
    width: 400px;
  }

  .imgg {
    width: 70px;
  }

  .conte > p {
    font-size: 13px;
  }

  .link > aside > h4 {
    font-size: 14px;
  }

  .in-right {
    width: 10%;
  }
  .top-image {
    display: none;
  }

  .mid-img > img {
    width: 100%;
  }

  .scroll-outer {
    width: 100%;
  }

  .inn > h3 {
    font-size: 15px;
    line-height: 15px;
  }

  .down-white {
    height: 30vh;
  }

  .bottom-content > h1 {
    font-size: 20px;
    padding: 20px 100px;
  }

  .leftb > h1 {
    font-size: 20px;
  }
  .leftb > h3 {
    font-size: 12px;
  }

  .rightb > .btn3 {
    font-size: 17px;
    padding: 10px 25px;
  }

  .lastcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
  }

  .lastleft,
  .lastmid,
  .lastright {
    width: 100%;
    border-right: none;
    border-bottom: 2px dotted gray;
  }

  .lastmid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
  }
}

@media (max-width: 800px) {
  .all {
    width: 97vw;
  }

  .left {
    width: 90%;
  }

  .gif-cont {
    display: none;
  }

  .btn {
    display: none;
  }

  .cont {
    margin-left: 0px;
    top: 170px;
    left: 30px;
  }

  .cont > h4 {
    font-size: 10px;
    width: 300px;
  }

  .mid-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse !important;
  }

  .mid-up > h1 {
    font-size: 25px;
  }

  .mid-up > h1 {
    font-size: 20px;
    margin-top: 20px;
  }

  .mid-up > h3 {
    font-size: 13px;
  }

  .mi-left > ul > li {
    font-size: 12px;
  }

  .btn1 {
    padding: 0px 10px;
  }

  footer {
    height: 70px;
  }

  .bot-img {
    top: 50px;
  }

  .lastmid > article {
    font-size: 16px;
  }

  .lastmid > article > img {
    width: 150px;
  }

  .cont > h4 {
    font-size: 17px;
  }

  .icon-cont {
    width: 50px;
    height: 50px;
  }

  .icon-name > h1 {
    font-size: 15px;
  }

  .icon-cont > i {
    font-size: 20px;
  }

  .bottom-content > h1 {
    font-size: 25px;
    margin-left: -35px;
  }

  .mid-right > img {
    width: 150px;
  }

  .btn2 {
    width: 230px;
    font-size: 10px;
    padding: 2px 5px;
    top: -70px;
    width: 120px;
  }

  .downcont > img {
    width: 30px;
  }

  .downcont > h3 {
    font-size: 10px;
  }
  .scrollcont {
    width: 400px;
  }

  .imgg {
    width: 70px;
  }

  .conte > p {
    font-size: 13px;
  }

  .link > aside > h4 {
    font-size: 14px;
  }

  .top-image {
    display: none;
  }

  .mid-img > img {
    width: 100%;
  }

  .scroll-outer {
    width: 100%;
  }

  .inn > h3 {
    font-size: 11px;
    line-height: 15px;
  }

  .inn > p {
    font-size: 10px;
  }

  .down-white {
    height: 30vh;
  }

  .bottom-content > h1 {
    font-size: 15px;
    padding: 20px 50px;
  }

  .leftb > h1 {
    font-size: 20px;
  }
  .leftb > h3 {
    font-size: 12px;
  }

  .rightb > .btn3 {
    font-size: 17px;
    padding: 10px 25px;
    margin-top: 15px;
  }

  .black-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
  }

  .leftb {
    text-align: center;
  }

  .lastcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
  }

  .lastleft,
  .lastmid,
  .lastright {
    width: 100%;
    border-right: none;
    border-bottom: 2px dotted gray;
  }

  .lastmid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
  }

  .in-right {
    width: 8%;
  }

  .r-top > img {
    width: 100%;
  }

  .r-center > img {
    width: 100%;
  }
  .r-bot > img {
    width: 100%;
  }
}
